<footer>
    <div>
      <ul>
        <h2>Explore</h2>
        <li>Home</li>
        <li>Service</li>
        <li>About us</li>
        <li>Flyingsites</li>
      </ul>
    </div>
    <div>
      <ul>
        <h2>Service</h2>
  
        <li>Fun Flight</li>
        <li>Learn to fly</li>
        <li>Events</li>
        <li>Equipment</li>
      </ul>
    </div>
    <div>
      <ul>
        <h2>Follow</h2>
  
        <li>Instgram</li>
        <li>Twitter</li>
        <li>Linkedin</li>
      </ul>
    </div>
    <div>
      <ul>
        <h2>Legal</h2>
  
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
  </footer>
