.thebox{
    /* width: 100vw;
    height:100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height:100vh;
    /* background-image:url('/assets/paragimg.jpg');
    background-position: center;
    background-size: cover; */
}

form{
    border: 1px solid black; 
    border-radius: 6px;
    background-color: rgb(13, 68, 250);
    width:250px;
    text-align: center;
    opacity: 70%;
  }