<app-header></app-header>
<div class="container">

<form action="" [formGroup]="loginForm">
      <label for="uname"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" formControlName ="email" #mail>
      <div class="error" *ngIf="email?.invalid && email?.touched">
        <small>Enter a valid username</small>
      </div>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" formControlName ="password" #Password>
      <div class="error" *ngIf="password?.invalid && password?.touched">
        <small>Enter a valid password</small>
      </div>
  
      <button (click)="onSubmit({email:mail.value.trim(), password : Password.value.trim()});
      mail.value = '';
      Password.value = '';
      ">Login</button>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
  
    <!-- <div class="box" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
  </form>
</div>

<app-footer></app-footer>